
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h2 class="text-center mt-3">Update User</h2>
                <form class="mb-5 mt-3" action="/admin/edit-user/{{user._id}}" method="POST" enctype="multipart/form-data">

                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" name="displayName" value="{{user.displayName}}">



                    <label for="exampleInputPassword1">Age</label>
                    <input type="number" class="form-control" name="userAge" value="{{user.userAge}}">


                    <label for="exampleInputPassword1">Mobile Number</label>
                    <input type="text" class="form-control" name="userMobile"value="{{user.userMobile}}">


                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="userPassword" value="{{user.userPassword}}">

                    <div class="form-group">
                        <label for="">Image</label>
                        <img src="/user-images/{{user._id}}.jpg" id="imgView" class="mt-3 mb-3" style="width: 50px;height:auto" alt="">
                        <input type="file" name="Image" class="form-control-file" onchange="viewImage(event)" >
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <input type="hidden" id="Status" name="Status" value="Active">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
   function viewImage(event){
       document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
   }
</script>